@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
